<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>泰铠码-新闻</title>
    <link rel="shortcut icon" href="./assets/images/icon.jpg">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/global.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./assets/css/detail.css">
    <script src="./assets/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <style>
        @media (min-width: 768px) {
            .container {
                padding: 0;
            }
        }
    </style>
</head>

<body>
    <div class="content" >
        <!-- Nav -->
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <p>泰铠码</p>
                            <img src="./assets/images/logo.png" alt="" class="logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=" dropdown">
                                <a href="#" data-toggle="dropdown">
                                    关于我们
                                    <span class="sr-only">(current)</span></a>
                                <i class="delimiter">/</i>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">首页</a></li>
                                    <li><a href="history.html">介绍</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">服务</a>
                                <ul class="dropdown-menu">
                                    <li class=""><a href="cultivate.html">海缆保护系统设计服务</a></li>
                                    <li><a href="agiltek.html">海洋工程项目分析服务</a></li>
                                    <li><a href="ryder.html">岩土工程设计和咨询</a></li>
                                    <li><a href="subsea.html">海上项目设备定制服务</a></li>
                                </ul>
                                <span class="delimiter">/</span>
                            </li>
                            <li>
                                <a href="products.html">产品</a>
                                <span class="delimiter">/</span>
                            </li>
                            <li class="active">
                                <a href="news.html">新闻</a>
                                <span class="delimiter">/</span>
                            </li>
                            <li>
                                <a href="contact.html">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- content -->
        <div id="banner-area-wrapper" class="news-area-wrapper">
            <!-- 文件内容 -->
            <div class="news-body-wrapper container" id="page-body-wrapper">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="app">
                            <div class="new-title">
                                <h1>{{detailData.title}}</h1>
                                <time class="new-time">{{detailData.timer}}</time>
                            </div>
                            <div class="new-des">
                                <div class="new-img">
                                    <img src="./assets/images/news/news_1.jpg" alt="" v-if="id == 2">
                                    <img src="./assets/images/news/news_2.jpg" alt="" v-if="id == 1">
                                </div>
                                <div class="new-info">
                                    <p v-for="item in detailData.des" :key="item" >{{item}}</p>
                                    <!-- <p>泰铠码能源与全球最大海上风电运营商奥斯特（Ørsted）合作，将为Hornsea二期海上风电项目提供海缆保护系统。这批海缆保护系统将于泰铠码能源在英格兰东北部的工厂制造生产。泰铠码将为该项目的所有海底阵列电缆和输出电缆提供最新的第八代TekLink®海缆保护系统，包括346套海缆保护系统和30套钟型嘴夹具。</p>
                                    <p>
                                        Hornsea二期是Hornsea一期的姐妹项目，计划安装165台风力涡轮机，总容量为1.4GW。
                                        Hornsea二期位于北海，距约克郡海岸约89公里，将为130多万户家庭提供清洁电力，并将于2022年完工。该风电场建成后将成为世界上最大的海上风电场。
                                    </p>
                                    <p>泰铠码能源总经理Russell Edmondson表示：“我们很高兴泰铠码成为Hornsea二期的电缆保护系统和钟型嘴夹具的供应商。
                                        这是迄今为止业内最重要的项目之一。我们与奥斯特（Ørsted）有为期六年的合作框架协议，为其未来项目提供电缆保护系统。此次合作正是协议的一部分。“</p>
                                    <p>奥斯特（Ørsted）EPC总监Patrick Harnett说：“Hornsea 二期在规模和成本方面都是一个对行业具有颠覆性的项目。
                                        英格兰东北部一直是全球最先进的海上风电场的零件供应地。该地区生产了数百套的电缆保护系统， 过渡连接件和数千公里的阵列电缆。</p>
                                    <p>该项目是泰铠码在行业内的第76个项目。泰铠码在海上风电海缆保护系统市场的全球占有率达75%以上。作为全球海上风电行业电缆保护方案的领军企业，我们保护着全球超过数十亿英镑的海上设
                                    </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
        </div>
    </div>
    <footer class="footer">
        <p>
            Copyright © 上海泰铠码科技 2019<br>
            中国 上海市 静安区
            <br>
        </p>
        <p><img src="./assets/images/footer/weixin.png" alt="" class="footer_icon"></p>
        <div class="coder_show">
            <span class="glyphicon glyphicon-remove close"></span>
            <img src="./assets/images/footer/coder.jpg" alt="" class="fixed_icon">
        </div>
    </footer>

</body>
<script src="./assets/js/common.js"></script>
<script src="./assets/js/data.js"></script>
<script src="./assets/js/vue.js"></script>
<script>
     var id = window.location.href.split("=")[1];
    var vm = new Vue({
        el:'#app',
        data:{
            detailData:{},
            id:id
        },
        created() {
            var dataList  = dataJson;
            console.log(dataList)
            if(id){
                this.detailData = dataList[Number(id - 1)]
                console.log( this.detailData)
            } else {
                window.history.go(-1);
            }
        },
    })
</script>

</html>