body,
div,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333333;
    font-weight: 500;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #A0A4AA;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A0A4AA;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A0A4AA;
}

input:-ms-input-placeholder,
textarea:-ms-textarea-placeholder {
    /* Internet Explorer 10-11 */
    color: #A0A4AA;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
button:active {
    outline: none;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    /* -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}


/* -----------------全局样式--------------- */

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
}


/*定义滚动条轨道 内阴影+圆角*/

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}


/*定义滑块 内阴影+圆角*/

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(127, 143, 164, 0.2);
}

.capital_details .c_item .el-input__inner,
.employee_settings .c_item_left .el-input__inner {
    background-color: #FAFBFD;
    border: none;
}


/* 资产页 */


/* 所有表格 */

.el-table th {
    background-color: #FAFBFD;
}

.el-table th div {
    color: #949494;
}

.el-table th.is-leaf {
    border-bottom: none;
}

.el-table__empty-text {
    height: 300px;
    line-height: 300px;
}

.el-table::before {
    display: none;
}


/* dialog */

.login_dialog .el-dialog__header,
.permission_dialog .el-dialog__header {
    border: none;
}

.permission_dialog {
    height: 540px;
}

.el-dialog__title {
    font-size: 16px;
}

.permission_dialog .el-dialog__body {
    padding-top: 0;
}


/* radio */

.el-radio__input.is-checked+.el-radio__label {
    color: #333333;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #0B336C;
    background: #0B336C;
}

.el-radio__inner:hover {
    border-color: #0B336C;
}

.el-button--small {
    font-size: 14px;
    padding: 8px 20px;
    background-color: #FFF;
    border: 2px solid #F3F6F9
}

.el-button--text {
    color: #0B336C;
}

.permission .el-table td,
.permission .el-table th,
.employee_settings .el-table td,
.employee_settings .el-table th,
.table_settings .el-table td,
.table_settings .el-table th  {
    padding: 8px 0;
}
