.product-area-wrapper {
    width: 100%;
    padding: 40px 100px;
}

.hsqe-title{
    padding-bottom: 36px;;
    border-bottom: 1px solid #cdcdcd;
}
.hsqe-title>h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: #382400;
}
/* hsqeList */
.hsqe-item{
    padding: 5px 0;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;;
}
.hsqe-name h2 {
    color: #382400;
    font-size: 24px;
    font-family: "proxima-nova";
    font-size: 24px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    color: #0073ab;
} 

.hsqe-info .hsqe-img {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;;
}
.hsqe-img > img {
    max-width: 100%;
    height: auto;
}

.hsqe-info h2 {
    font-family: "proxima-nova";
    font-size: 24px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    color: #0073ab;
    margin-bottom: 24px;;
}
.hsqe-info p{
    width: 100%;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    margin: 24px 0;
}
.hsqe-info a{
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    margin: 24px 0;
}
/*  */
.border_1px {
    padding-bottom: 30px ;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 24px;;
}
.hsqe-info ul {
    padding-left: 40px;;
}
.hsqe-info ul li {
    list-style-type: decimal;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    margin: 10px 0;
}
@media (max-width: 768px) {
    .product-area-wrapper {
        width: 100%;
        padding: 40px 0;
    }
    .hsqe-info p{
        width: 100%;
        margin: 24px 0;
    }
    .hsqe-title>h1 {
        font-family: "proxima-nova";
        font-size: 24px;
        line-height: 1.5em;
        text-transform: none;
        letter-spacing: 2px;
        font-weight: 100;
        font-style: normal;
    }
    .hsqe-info h2{
        font-size: 18px;
    }
}