.product-area-wrapper {
    width: 100%;
    padding: 40px 100px;
}

@media (max-width: 768px) {
    .product-area-wrapper {
        width: 100%;
        padding: 40px 17px;
    }
}

.product-body-wrapper .career-title {
    /* height: 54px; */
    margin-bottom: 20px;
    padding-bottom: 12px;
}

.career-title>h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: #777;
}
/* careerList */
.career-item{
    padding: 25px 0;
    border-top: 1px solid #e8e8e8;
}
.career-name h2 {
    color: #0073ab;
    font-family: "proxima-nova";
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    font-size: 20px !important;
} 
.career-name p {
    color: #777;
    font-family: "proxima-nova";
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    font-size: 14px !important;
    margin-top: 24px;;
    cursor: pointer;
} 
.career-title .career-time{
    color: #949494;
}
.career-des {
}
.career-des .career-img {
    overflow: hidden;
    margin-bottom: 17px;;
    
}
.career-img > img {
    max-width: 100%;
    height: auto;
}
.career-info p{
    color: #777;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    margin: 24px 0;
}
.career-info ul {
    padding-left: 40px;;
}
.career-info ul li{
    list-style-type: disc;
    font-family: "proxima-nova";
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: 300;
    color: #777;
}
.career-info ol li{
    list-style-type: circle;
    font-family: "proxima-nova";
    font-size: 14px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #777;
}
@media (max-width: 768px) {
    .career-info p{
        width: 100%;
        margin: 24px 0;
    }
  }
