.company_content {
    width: 100%;
    height: 480px;
    background: #ffffff  url(../images/agiltek/services.jpg) center center no-repeat ;
    background-size: cover;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.company_des {
    width: 50%;
    height: 160px;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 30px 40px;
    font-size: 16px;
    color: rgba(255,255,255,1.00);
    background-color: rgba(33,134,73,0.85);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .company_des {
        width: 80%;
        height: 180px;
        background-color: #fff;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        color: rgba(255,255,255,1.00);
        background-color: rgba(33,134,73,0.85);
        padding: 10px;
    }
}
.team {
    width: 100%;
    margin: 0 auto;
    padding-top: 72px;
    box-sizing: border-box;
    margin-bottom: 3.8em;
}
.team h2{
    font-size:32px;
    color: #218649;
    line-height: 0.2em;
    margin-bottom: 2.5em;
    text-align: left;
}
.team p{
  width: 100%;
  text-align: left;
  margin: 16px 0;
  box-sizing: border-box;
}
.team ul,.team ol{
    padding-left: 40px;
}
.team ul li{
    list-style-type: disc;
}
.team ol li{
    list-style-type: circle;
}
.company_product>li{
    height: 550px;
}
.product_img {
    width: 100%;
    box-shadow:0px 0px 5px #cdcdcd;
}
.product_img img{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.product_name {
    margin: 16px 0 ;
    width: 80%;
    font-size: 1.1em;
    color: #218649;
}
.product_des{
    text-align: left;
}
.client-logo {
    width: 100%;
    margin: 0 auto;
    padding-top: 72px;
    box-sizing: border-box;
    margin-bottom: 3.8em;
}
.client-logo h2{
    font-size: 2.2em;
    color: #218649;
    line-height: 0.2em;
    margin-bottom: 2.5em;
    text-align: left;
}
.client{
    margin-bottom: 20px;
}
.client .active{
    display: none;
}
.client:hover .active{
    display: block;
}
.client:hover .nomal{
    display: none;
}
.client .active{
    display: none;
}
.client img{
    width: 100%;
    display: block;
}
.company_footer{
    width: 100%;
    height: 430px;
    background: url(../images/agiltek/big-footer-image.png) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.company_footer p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    color: rgba(255,255,255,1.00);
    font-weight: 700;
}
@media (max-width: 768px) {
    .company_footer p{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        color: rgba(255,255,255,1.00);
        font-weight: 700;
    }
    .team h2{
        font-size:16px;
        color: #218649;
        line-height: 0.2em;
        margin-bottom: 2.5em;
        text-align: left;
    }
}