.contact-area-wrapper {
    width: 100%;
    padding: 40px 100px;
}

@media (max-width: 768px) {
    .contact-area-wrapper {
        width: 100%;
        padding: 40px 0;
    }
}

.contact-title {
    /* height: 54px; */
    margin-bottom: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0;
}

.contact-title>h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: #777;
}
/* contactList */
.contact-name p {
    color: #777;
    font-family: "proxima-nova";
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    font-size: 14px !important;
    margin-top: 24px;;
    cursor: pointer;
} 
.contact-title .contact-time{
    color: #949494;
}
.contact-info p{
    color: #777;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    margin: 16px 0;
}
.contact-info ul {
    padding-left: 25px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.contact-info ul li {
    list-style-type: disc;
}
@media (max-width: 768px) {
    .contact-info p{
        width: 100%;
        margin: 24px 0;
    }
  }
  .contact{
      margin-top: 30px;;
  }
  .contact .userName {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;;
  }
  .userName>div{
      width: 48%;
  }
.userName .firstName{
    width: 100%;
    height: 45px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    text-indent: 1.5em;
}
.userName span{
    font-size: 12px;
}
.email input,.phone input{
    width: 100%;
    height: 45px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    text-indent: 1.5em;
    margin-bottom: 24px;;
}
.other textarea{
    width: 100%;
    min-height: 145px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    text-indent: 1.5em;
    margin-bottom: 24px;;
}
.submitBtn {
    font-family: "proxima-nova";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    background-color: #272727;
    text-align: center;
    width: 124px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    margin-bottom: 24px;;
}
.submitBtn:hover{
    background-color: rgb(82,82,82);
}
.company_info h3 {
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    margin-top: 45px;
}
.company_info p{
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #777;
    margin: 24px 0;
}
.contact-map {
    height: 300px;
}