.news-area-wrapper {
    width: 100%;
    padding: 40px 100px;
}

@media (max-width: 768px) {
    .news-area-wrapper {
        width: 100%;
        padding: 40px 0;
    }
}

.news-body-wrapper .news-title {
    height: 54px;
    margin-bottom: 10px;
}

.news-title>h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color:#777;
}
/* newList */
.news-item{
    padding: 25px 0;
    border-top: 1px solid #e8e8e8;
}
#news_title {
    color: #382400;
    font-size: 24px !important;
} 
.news-title .new-time{
    color: #949494;
}
.news-des {
    margin: 24px 0;
}
.news-des .new-img {
    overflow: hidden;
    width: 100%;
    
}
.news-img > img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;;
}
.news-info p{
    width: 100%;
    margin-bottom: 24px;
    text-indent: 2em;
}
@media (max-width: 768px) {
    .news-info p{
        width: 100%;
        margin: 24px 0;
    }
  }
.news-info a.inline-read-more{
    color: #595959!important;
    font-family: "proxima-nova";
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}