.banner-area-wrapper {
    width: 100%;
    height: 554px;
    background-color: rgba(82, 82, 82, .2);
    margin-top: 15px;;
}

.banner-area-wrapper .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 554px;
}

.banner-area-wrapper .page-title h1 {
    font-family: "proxima-nova";
    font-size: 62px;
    line-height: 1.25em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 100;
    font-style: normal;
    color: #fff;
    text-align: center;
}

/*  */
.page-body-wrapper {
    padding: 100px 0;
    box-sizing: border-box;
}

.page-body-wrapper .body-title {
    padding: 12px 17px 30px;
}

.page-body-wrapper .body-title h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
}

.page-body-wrapper .body-banner {
    width: 100%;
    height: 533px;
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    padding: 30px 0;
}
@media (max-width: 768px) {
    .page-body-wrapper .body-banner {
        width: 100%;
        height: 206px;
        padding: 30px 17px;
    }
  }

.body-banner .banner {
    width: 100%;
    height: 100%;
    background-color: #cdcdcd;
}
.article_title{
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    margin: 24px 0;
    color: #777;
}
.article_des {
    margin: 24px 0;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    color: #777;
}
.article_des>ul {
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
}
.article_des>ul>li {
    list-style-type: disc;
}

/* product */
.goods-item {
    padding: 12px 17px;
    box-sizing: border-box;
}

.goods-item .goods-title {
    color: #0073ab;
    padding-top: 12px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    word-wrap: break-word;
    margin-bottom: 24px;;
}

.goods-item .goods-img>img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 17px;
}

.goods-item .goods-des {
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    word-wrap: break-word;
    margin-bottom: 24px;;
}

.goods-item .goods-detail {
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
}