.product-area-wrapper {
    width: 100%;
    padding: 40px 100px;
}

@media (max-width: 768px) {
    .product-area-wrapper {
        width: 100%;
        padding: 40px 17px;
    }
}

.product-body-wrapper .news-title {
    height: 54px;
    margin-bottom: 20px;
}

.news-title>h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
}
/* newList */
.news-item{
    padding: 25px 0;
    border-top: 1px solid #e8e8e8;
}
.new-title h1 {
    color: #382400;
    font-size: 24px !important;
} 
.new-title .new-time{
    color: #949494;
}
.new-des {
    margin: 24px 0;
}
.new-des .new-img {
    overflow: hidden;
    
}
.new-img > img {
    max-width: 100%;
    height: auto;
}
.new-info p{
    width: 100%;
    margin-bottom: 24px;
}
@media (max-width: 768px) {
    .new-info p{
        width: 100%;
        margin: 24px 0;
    }
  }
.new-info a.inline-read-more{
    color: #595959!important;
    font-family: "proxima-nova";
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}