.product-area-wrapper {
    width: 100%;
    padding: 40px 100px;
}

@media (max-width: 768px) {
    .product-area-wrapper {
        width: 100%;
        padding: 40px 17px;
    }
}

.product-body-wrapper .goods-title {
    height: 54px;
}

.goods-title>h1 {
    font-family: "proxima-nova";
    font-size: 36px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
}

/* product list */
.goods-list ul li{
    margin-bottom: 40px;;
}
.goods-list .goods-item {
    width: 100%;
    height: auto;
    position: relative;
    padding: 12px 17px;
}

.goods-item>img {
    display: block;
    max-width: 100%;
    ;
}

.goods-item .goods-des {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 18px;
    background: rgba(0, 0, 0, .7);
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}